footer {
    width: 100%;
    height: 410px;
    background-color: #292b2f;
    clear: both;
}

footer .upper__footer {
    width: 85%;
    height: auto;
    display: flex;
    margin-left: 130px;
    margin-right: 130px;
    margin-bottom: 70px;
}

.upper__footer .widgets {
    width: 30%;
    height: auto;
    float: left;
    margin-top: 30px;
    margin-left: 30px;
}

.widgets h4 {
    padding: 10px;
    font-weight: 600;
    color: #eee;
}

.widgets p {
    color: rgba(255, 255, 255, .45);
    font-size: 0.9rem;
    line-height: 1.5;
    padding: 5px;
}

.widgets button {
    margin-top: 20px;
    border-color: #ffffff33;
    background-color: transparent;
    color: #ffffff73;
    border-radius: 5px;
    padding: 13px;
    font-size: 1rem;
}

.widgets button:hover {
    background-color: #ffffff2c;
    color: #fefefe;
}

.widgets>span button {
    margin-top: 10px;
    border-color: #ffffff33;
    color: #ffffff73;
    border-radius: 5px;
    padding: 7px;
    font-size: 0.9rem;
}

.footer__down {
    border-top: 1px solid #ffffff3a;
    width: 100%;
    height: 27%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgba(255, 255, 255, .45);
    font-size: 0.9rem;
}

.page_info>.footer-links {
    margin-bottom: 20px;
}

.footer-links>a {
    margin: 5px;
}

.footer__down a {
    text-decoration: none;
    color: rgba(255, 255, 255, .45);
}

.footer__down a:hover {
    color: #eee;
}

.socials>h5 {
    color: rgba(255, 255, 255, .45);
    margin-bottom: 7px;
}

.socials>i {
    color: #eeeeee86;
    margin: 3px;
}

.socials>i:hover {
    color: #eee;
}