div.nav-container {
    min-width: 100%;
    height: 50px;
    background-color: #222;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.nav-container>nav {
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

div.nav__left,
div.nav__right {
    display: flex;
    align-items: center;
}

nav h1 {
    color: #eee;
    font-weight: 600;
    font-size: 1.3rem;
    padding-right: 15px;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #ddd;
    font-weight: 400;
}

nav a:hover {
    color: #fafafa;
}

.drop-menu {
    display: block;
    height: 90%;
    width: 65px;
    margin-right: 3px;
    text-align: center;
}

.drop-menu>a {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    line-height: 50px;
}

.drop-menu:hover>ul {
    visibility: visible;
}

.drop-menu>ul {
    visibility: hidden;
    background-color: #222;
    width: 120px;
    color: #eee;
    text-align: left;
}

.drop-menu>ul>li {
    padding: 10px;
}

.drop-menu.ul>li:hover {
    background-color: black;
    color: rgb(0, 183, 255);
    cursor: pointer;
}

.drop-menu>.search{
    width: 350px;
    height: 60px;
}

li>form>input{
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #55585d;
    background-color: #fff;
    border: 1px solid #d9d8de;
    border-radius: .25rem;
}