div.nav-container {
    width: 100%;
    height: 50px;
    background-color: #222;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.nav-container >nav {
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

div.nav__left,
div.nav__right {
    display: flex;
    align-items: center;
}

div.nav__left>div,
div.nav__right>div {
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.test{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#test_list {
    background-color: #222;;
    position: absolute;
    margin-top:125px;
    margin-left: 12px;
    width: 100px;
    overflow: hidden;
    height: 200px;
    display: flex;
    flex-direction: column;
    color: #eee;
}

a>li{
    padding: 7px;
}

nav h1 {
    color: #eee;
    font-weight: 600;
    font-size: 1.3rem;
    padding-right: 15px;
}

nav a {
    text-decoration: none;
    color: #ddd;
    font-weight: 400;
}

nav a:hover {
    color: #fafafa;
}

div.nav__left>div:hover,
div.nav__right>div:hover {
    background: rgba(255, 255, 255, 0.1);
}