div.nav-container {
    width: 100%;
    height: 50px;
    background-color: #222;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.nav-container>nav {
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

div.nav__left,
div.nav__right {
    display: flex;
    align-items: center;
}

div.nav__right>.menelement {
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

nav h1 {
    color: #eee;
    font-weight: 600;
    font-size: 1.3rem;
    padding-right: 15px;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #ddd;
    font-weight: 400;
}

nav a:hover {
    color: #fafafa;
}

.drop-menu {
    display: block;
    height: 100%;
    width: 65px;
    padding-right: 15px;
}

.drop-menu>a {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    line-height: 50px;
}

.drop-menu:hover>ul {
    visibility: visible;
}

ul {
    visibility: hidden;
    background-color: #222;
    width: 140px;
}

li {
    padding: 5px;
}

li:hover {
    background-color: black;
    color: rgb(0, 183, 255);
    cursor: pointer;
}