@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
@import "reset.css";
@import "style.css";
@import "menu.css";
@import "footer.css";

.nav-bar {
    width: 100%;
    height: 500px;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.301);
}

.top-navi {
    width: 100%;
    height: 80%;
    background-image: url('../img/game.jpg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}

.top-content {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.719);
}

.posts-nav {
    width: 1100px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navi-left {
    width: 60%;
    display: flex;
    align-items: center;
}

.navi-left>h3 {
    width: 30%;
    color: rgba(0, 0, 0, 0.541);
    font-size: 1rem;
    font-weight: 500;
}

.navi-left>form {
    width: 80%;
}

form>input {
    width: 85%;
    padding: 8px;
    font-size: 17px;
    border: 1px solid rgba(128, 128, 128, 0.459);
    float: left;
    border-radius: 5px;
    border-right: none;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;

}

form>button>i {
    color: rgba(0, 0, 0, 0.514);
}

form>button {
    float: left;
    width: 10%;
    padding: 8px;
    font-size: 17px;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.459);
    border-left: none;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    cursor: pointer;
}

.post-container{
    width: 1060px;
    height: auto;
    overflow:auto;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
.post-container>.post{
    width: 300px;
    height: 450px;
    padding-bottom: 20px;
}

.page-navigation{
    width: 50%;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    float: right;
}

.pagination a{
    color: rgba(0, 0, 0, 0.637);
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.281);
}

.pagination a:hover{
    background-color: rgba(0, 0, 0, 0.075);

}