.recent-box {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.recent-box header {
    text-align: center;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}

header i {
    font-size: 3rem;
    color: rgb(110, 170, 238);
}

header h2 {
    color: #30343adc;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 15px;
}

header p {
    color: #30343ac0;
    font-size: 1.1rem;
    line-height: 1.5;
}

.posts {
    height: 520px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.post {
    width: 25%;
    height: 90%;
    padding: 10px;
    margin-left: 35px;
    float: left;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    box-shadow: 1px 1px #88888850;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image {
    width: 100%;
    height: 65%;
    margin: auto;
    padding-bottom: 15px;
}

.text h3 {
    color: #30343a;
    font-weight: 500;
    padding-bottom: 15px;
}

.text p {
    color: #30343ac5;
    font-size: 0.9rem;
    line-height: 1.4;
    border-bottom: 1px solid #30343a7c;
    padding-bottom: 15px;
}

.post-info {
    display: flex;
    justify-content: space-between;
    padding-top: 13px;
}

.post-info span {
    font-family: 'Roboto', sans-serif;
}

.post-info i {
    padding: 7px;

}

.post-info i,
span {
    margin-left: 2px;
    font-weight: 400;
    color: #30343ac5;
}

.more {
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    margin-top: 20px;
    margin-bottom: 60px;
}

.more>button {
    display: block;
    margin: auto;
    font-size: 1.1rem;
    padding: 10px 20px;
    color: #ffffff;
    background-color: rgb(103, 100, 107);
    border-color: rgb(103, 100, 107);
    box-shadow: none;
}

.more>button:hover {
    background-color: rgb(82, 80, 85);

}