@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
@import "reset.css";
@import "menu.css";
@import "post_netlist.css";
@import "recent-post.css";
@import "footer.css";

body {
    overflow: auto;
    background-color: #eee;
}

.top-navi {
    background-image: url('../img/allie.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.top-content {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.685);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.top-content>h1 {
    font-size: 3.5rem;
    font-weight: 600;
    color: #eee;
}

.top-content>p {
    width: 60%;
    color: #eee;
    line-height: 1.5;
}

.reviews_container {
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
}

.review {
    min-width: 300px;
    margin-top: 20px;
    padding-bottom: 5px;
    border-bottom: 1px dashed rgba(143, 141, 139, 0.336);
    color: black;
    display: flex;
    flex-wrap: wrap;
}

.review>.image {
    width: 20%;
    min-width: 200px;
    height: 200px;
    border: 1px solid #c6c2ba13;
    margin-bottom: 1%;
    flex: 1;
}

.review>.text {
    width: 65%;
    padding: 3%;
    flex: auto;
}

.review>.text h3 {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 10px;

}

.review>.text h3:hover {
    color: #0799f5;
    cursor: pointer;

}

.review-info span {
    color: black;
    padding-right: 5px;
}

.review>.text p {
    margin-top: 20px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.788);
}

.widget-panel h3 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
}

.find-widget {
    width: 255px;
    height: 295px;
}