div.review-container {
    width: 82%;
    height: 500px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    background-image: url("https://img.youtube.com/vi/uPhovNvisWI/maxresdefault.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

div.review-box {
    display: flex;
    background-color: #292b2fb4;
}


.review-box__left {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.review-box h1 {
    color: #eee;
    font-size: 2.3rem;
    font-weight: 600;
    padding-left: 15px;
}

.review-box p {
    color: rgb(192, 192, 192);
    font-size: 1rem;
    line-height: 1.5;
    padding: 15px;

}

.review-box span {
    padding: 15px;
}

.review-box__left button {
    color: #eee;
    border-radius: 40px;
    padding: 18px;
    font-size: 1rem;
}

span .button-left {
    background: #1e63bc;
    border: none;
    margin-left: 8px;
}

span .button-left:hover {
    background: #18529c;
    color: #dddcdc;
}

span .button-right {
    margin-left: 7px;
    border: 0.5px solid #eee;
}

span .button-right:hover {
    background: rgba(238, 238, 238, 0.116);

}

.review-box__right {
    display: flex;
    width: 30%;
    align-items: center;
}


div.circle h3 {
    color: #eee;
    align-items: stretch;
    margin-bottom: 8px;
    font-weight: 600;
}


#progress-fill .color-one {
    stop-color: #5A7ABC;
}

#progress-fill .color-two {
    stop-color: #ED495D;
}

.progress-circle {
    fill: transparent;
    stroke: #eee;
    stroke-width: 2;
    stroke-dasharray: 255;
    -webkit-transition: stroke-dashoffset ease-out .4s;
    -moz-transition: stroke-dashoffset ease-out .4s;
    -ms-transition: stroke-dashoffset ease-out .4s;
    transition: stroke-dashoffset ease-out .4s;
}

.circle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle svg {
    margin: auto;
}