div.review-container {
    max-width: 60%;
    min-height: 350px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    background-image: url("https://funnycactus.github.io/Gaming_website_temaplate/img/Castlevania.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

div.review-box {
    min-width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #292b2fb4;
    flex-wrap: wrap;
}


.review-box__left {
    max-width: 50%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
    flex: 1 auto;
}

.review-box h1 {
    color: #eee;
    font-size: 2.3rem;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: left;
}

.review-box p {
    color: rgb(192, 192, 192);
    font-size: 1rem;
    line-height: 1.5;
    padding-left: 1px;
}

.review-box span {
    margin-left: -10px;
}

.review-box__left button {
    color: #eee;
    border-radius: 40px;
    padding: 1vw;
    font-size: 1rem;
    order: 2;
}

span .button-left {
    background: #1e63bc;
    border: none;
    margin-left: 8px;
}

span .button-left:hover {
    background: #18529c;
    color: #dddcdc;
}

span .button-right {
    margin-left: 8px;
    border: 0.5px solid #eee;
    margin-top: 10px;
}

span .button-right:hover {
    background: rgba(238, 238, 238, 0.116);

}

.review-box__right {
    display: flex;
    max-width: 30%;
    min-width: 200px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1 auto;
}

.circle {
    width: 130px;
    height: 130px;
    border: 2px solid whitesmoke;
    background: rgba(0, 0, 0, 0.233);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle>h1 {
    text-align: center;
    vertical-align: middle;
    font-size: 4rem;
    font-weight: 600;
}

.review-box__right>h3 {
    color: white;
    margin-top: 20px;
    font-size: 1.5rem;
}