@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
@import "reset.css";
@import "menu.css";
@import "reviewbox.css";
@import "recent-post.css";
@import "footer.css";

body {
    background-color: #fefefe;
}

body,
span {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

select {
    color: #67646b;
    background-color: #f7f7f7;
    border-color: #c7c7c7;
    border-radius: 5px;
    padding: 7px;
    font-size: 0.9rem;
}