@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
@import "reset.css";
@import "menu.css";
@import "reviewbox.css";
@import "recent-post.css";
@import "footer.css";


body {
    font-family: 'Roboto', sans-serif;
    background-color: #fafafa;
}

button{
    background-color: Transparent;
    background-repeat: no-repeat;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}
