@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
@import "reset.css";
@import "menu.css";
@import "reviewbox.css";
@import "recent-post.css";
@import "footer.css";

body {
    background-color: #f3f0f0;
}

body,
span {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

select, option{
    background-color: #f7f7f7;
    border: 1px solid #c7c7c752;
    border-radius: 5px;
    padding: 10px;
    font-size: 0.9rem;
}

.news-container {
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.news-post {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.news {
    width: 50%;
    min-width: 300px;
    display: flex;
    flex-wrap: wrap;
    flex: 1 auto;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.news>img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.news>.content {
    visibility: hidden;
    width: auto;
    height: 350px;
    position: absolute;
    background-color: rgba(2, 4, 5, 0.514);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
.news:hover>img{
    filter: blur(2px);
}
.news:hover>.content {
    visibility: visible;
}

.content>h1 {
    font-size: 2.2rem;
    font-weight: 600;
    text-shadow: 2px 2px 4px #000000;
}

.content>p {
    width: 65%;
    padding-top: 2%;
    line-height: 1.3;
    text-shadow: 2px 2px 4px #000000;
}

.content-info>button {
    border: none;
    background:rgb(77, 151, 236);
    font-size: 0.9rem;
    color: white;
    font-weight: 700;
}

.content-info {
    margin-top: 15px;
}