@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
@import "reset.css";
@import "menu.css";
@import "reviewbox.css";
@import "recent-post.css";


body {
    font-family: 'Roboto', sans-serif;
    background-color: #fafafa;
}


footer {
    width: 100%;
    height: 410px;
    background-color: #292b2f;
}

footer .upper__footer {
    height: 30%;
    display: flex;
    margin-left: 130px;
    margin-right: 130px;
}

.upper__footer .widgets {
    width: 30%;
    height: auto;
    margin-top:auto;
    margin-bottom:auto;
    float: left;
    
}

.widgets h4 {
    padding: 10px;
    font-weight: 600;
    color: #eee;
}

.widgets p {
    color: rgba(255,255,255,.45);
    font-size: 0.9rem;
    line-height: 1.5;
    padding: 5px;
}

.widgets> button{
    margin-top: 20px;
    background-color: Transparent;
    background-repeat: no-repeat;
    border-color:#ffffff33;
    color: #ffffff73;
    border-radius: 5px;
    padding: 13px;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-size: 1rem;
}
.widgets button:hover{
    background-color: #ffffff2c;
    color: #fefefe;
}

.widgets> span button{
    margin-top: 10px;
    background-color: Transparent;
    background-repeat: no-repeat;
    border-color:#ffffff33;
    color: #ffffff73;
    border-radius: 5px;
    padding: 7px;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-size: 0.9rem;

}
